.tokenListContainer {
    border-top: 1px solid rgb(240, 240, 241);
}

.tokenListContainer .token {
    display: flex;
    justify-content: space-between;
    padding: 16px 41px 16px 32px;
    border-bottom: 1px solid rgb(240, 240, 241);
}

.tokenListContainer .token .leftPartWrapper {
    display: flex;
    align-items: center;
}

.tokenListContainer .token .leftPartWrapper .iconWrapper {
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
    border-radius: 50%;
}

.tokenListContainer .token .leftPartWrapper .iconWrapper .icon {
    width: 100%;
    height: 100%;
}

.tokenListContainer .token .leftPartWrapper .nameAndAmountWrapper {
    margin-left: 14px;
    line-height: 100%;
}

.tokenListContainer .token .leftPartWrapper .nameAndAmountWrapper .amount {
    font-weight: 700;
    font-family: var(--font_bold);
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.tokenListContainer .token .leftPartWrapper .nameAndAmountWrapper .usdAmount {
    white-space: nowrap;
    width: fit-content;
    font-weight: 600;
    font-family: var(--font_semi_bold);
    font-size: 12px;
    line-height: 16px;
    opacity: 0.4;
}

.tokenListContainer .token .rightPartWrapper {
    display: flex;
    align-items: center;
    justify-content: right;
}

.tokenListContainer .token .rightPartWrapper .imgWrapper {
    cursor: pointer;
}

.tokenListContainer .token .rightPartWrapper .imgWrapper:hover {
    opacity: 0.6;
}

.tokenListContainer .token .rightPartWrapper .imgWrapper .img {
    width: 100%;
    height: 100%;
}

.tokenListContainer .noTokens {
    font-family: var(--font_semi_bold);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #20202040;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 32px;
}

.tokenListContainer .addTokenContainer {
    padding: 20px 0 24px 0;
}

.tokenListContainer .addTokenContainer .addTokenButton {
    font-family: var(--font_bold);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: var(--black_color_secondary);
    margin: 0 auto;
    cursor: pointer;
}

.tokenListContainer .addTokenContainer .addTokenButton:hover {
    opacity: 0.7;
}

.tokenListContainer .addTokenContainer .addTokenButton:disabled {
    opacity: 0.6;
}