input {
  box-sizing: border-box;
}

.homePageContainer {
  width: 440px;
  height: 426px;
  background-image: url(../../images/bgInfo.svg);
  background-position: center;
  background-color: #FFFFFF;
  padding-top: 52px;
  text-align: center;
}
.homePageContainer .title {
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 58px;
  color: #202020;
}
.homePageContainer .iconContainer {
  width: 151px;
  height: 80px;
  position: relative;
  margin: 8px auto 0 auto;
  margin-bottom: 47px;

}
.homePageContainer .iconContainer .nearMenu,
.homePageContainer .iconContainer .omniLogo{
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 50%;
  top: 0;
}
.homePageContainer .iconContainer .bg{
  width: 80px;
  position: absolute;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.16);
  z-index: 2;
}
.homePageContainer .iconContainer .nearMenu {
  right: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.16);
}
.homePageContainer .iconContainer .omniLogo {
  width: 50px;
  left: 15px;
}

.homePageContainer .homePagePasswordContainer {
  width: 320px;
  min-height: 95px;
  margin: 0 auto;
}
.homePageContainer .homePagePasswordContainer .homePagePassword {
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-radius: 8px;
  padding: 0 30px;
}
.homePagePassword::placeholder{
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #202020;
  opacity: 0.6;
}
.homePagePassword:focus {
  background: rgba(0, 0, 0, 0.05);
}

.passwordError {
  color: indianred;
  font-size: small;
  margin-top: 4px;
  text-align: center;
}

.homePageContainer .btn{
  width: 102px;
  height: 48px;
  background: #202020;
  border-radius: 88px;
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white_col);
  cursor: pointer;
  margin: 24px auto 0;
}

.btn:disabled {
  background: #202020aa;
  cursor: not-allowed;
}
