.collection {
    padding: 15px 32px 16px 32px;
    border-bottom: 1px solid #9896F033;
}

.collection .collectionHeader {
    display: flex;
    justify-content: space-between;
}

.collection .collectionHeader .leftPartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection .collectionHeader .leftPartWrapper .collectionIconWrapper {
    width: 40px;
    height: 40px;
}

.collection .collectionHeader .leftPartWrapper .collectionIconWrapper .collectionIcon {
    width: 100%;
    height: 100%;
}

.collection .collectionHeader .leftPartWrapper .nameAndCountWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.collection .collectionHeader .leftPartWrapper .nameAndCountWrapper .name {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    max-width: 220px;
    text-overflow: ellipsis;
}

.collection .collectionHeader .leftPartWrapper .nameAndCountWrapper .count {
    font-weight: 600;
    opacity: 0.4;
}

.collection .collectionHeader .rightPartWrapper {
    display: flex;
    align-items: center;
    justify-content: right;
}

.collection .collectionHeader .rightPartWrapper .arrowWrapper {
    cursor: pointer;
    user-select: none;
}

.collection .collectionHeader .rightPartWrapper .arrowWrapper:hover {
    opacity: 0.6;
}

.collection .collectionHeader .rightPartWrapper .arrowWrapper .arrow {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.collection .collectionHeader .rightPartWrapper .arrowWrapper .rotated {
    transform: rotate(-90deg);
}

.collection .nftsContainer {
    display: flex;
    gap: 20px;
    margin-top: 17px;
    flex-wrap: wrap;
}

.collection .closed {
    overflow: hidden;
    max-height: 134px;
}

.collection .nftsContainer .nftWrapper {
    width: 175px;
    max-height: 134px;
    border-radius: 8px;
    cursor: pointer;
}

.collection .nftsContainer .nftWrapper:hover {
    opacity: 0.8;
}

.collection .nftsContainer .nftWrapper .nftImage {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}