.balanceContainer {
    width: 100%;
    min-height: 151px;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    background: var(--white_col);
    margin: 0 auto;
    padding-top: 17px;
    margin-bottom: 12px;
    text-align: center;
    max-width: 440px;
  }
.balanceContainer .token{
     text-align: center;
     margin-bottom: 21px;
     padding: 0 20px;
     overflow-wrap: anywhere;
}
.balanceContainer .title {
    font-family: var(--font_semi_bold);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: var(--black_color_secondary_opacity);
  }
.balanceContainer .balance{
    font-family: var(--font_extra_bold);
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 110%;
    color: var(--black_color_secondary);
  }
.balanceContainer .text{
    font-family: var(--font_bold);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--black_color_secondary);
    margin-top: 4px;
}

.balanceContainer .clipLoaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 168px;
}