.infoContainer {
  width: 100%;
  height: 100%;
  min-height: 662px;
  padding-bottom: 32px;
  background-color: var(--white_col);
}
.infoContainer .body{
  background-image: url(../../images/bgInfo.svg);
  background-size: cover;
  background-position: center;
  padding-top: 32px;
}
.infoContainer .cardContainer .card {
  height: 70px;
  width: 320px;
  margin-bottom: 6px;
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--black_color_secondary_opacity);
  backdrop-filter: blur(12px);
  margin: 0 auto 4px;
}
.infoContainer .cardContainer .card:last-child{
  margin-bottom: 40px;
}
.infoContainer .cardContainer .valueContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F2F2FF;
  height: 44px;
  border-radius: 8px 8px 0 0;
  padding: 0 20px;
}
.infoContainer .cardContainer .valueContainer .value {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: var(--black_color_secondary);
  display: flex;
}
.infoContainer .cardContainer .valueContainer .near{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-color: var(--white_col);
  display: flex;
  background-image: url(../../images/nearIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px;
}
.infoContainer .cardContainer .card .btn {
  width: 100%;
  text-align: center;
  background-color: #fff;
  height: 24px;
  border-radius: 0 0 8px 8px;
}
.infoContainer .cardContainer .card .btn > svg {
  rotate: -90deg;
}
.infoContainer .btnSend {
  width: 320px;
  height: 48px;
  background: #000;
  border-radius: 88px;
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white_col);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.infoContainer .btnSend .arrowGroup {
  margin-right: 6px;
}
