.chooseMethodContainer {
  width: 440px;
  height: 592px;
  background-color: #fff;
}
.chooseMethodContainer .body {
  background-image: url(../../images/bgInfo.svg);
  background-position: center;
  height: 524px;
  border-radius: 0 0 20px 20px;
  padding: 32px 50px 0;
}
.chooseMethodContainer .body .title {
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  color: #202020;
  margin: 0 auto;
  margin-bottom: 12px;
}
.chooseMethodContainer .body .text {
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #202020;
  margin-bottom: 24px;
}
.chooseMethodContainer .body .btnContainer .btnChoose {
  padding: 20px 20px 24px 28px;
  background: #FFFFFF;
  backdrop-filter: blur(12px);
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
}
.chooseMethodContainer .body .btnContainer .btnChoose:hover,
.chooseMethodContainer .body .btnContainer .btnChoose:focus {
  background: rgba(242, 242, 255, 0.7);
  border-left: 4px solid #9896F0;
  backdrop-filter: blur(12px);
  padding: 20px 20px 24px 24px;
}

.chooseMethodContainer .body .btnContainer .btnChoose:first-child {
  margin-bottom: 12px;
}
.chooseMethodContainer .body .btnContainer .btnChoose:last-child{
  margin-bottom: 40px;
}
.chooseMethodContainer .body .btnContainer .btnChoose .btnTitle {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #202020;
  margin-bottom: 4px;
}
.chooseMethodContainer .body .btnContainer .btnChoose .btnText{
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #20202040;
}
.chooseMethodContainer .body .btnContainer .btnChoose:disabled{
  color: #202020cc;
}
.chooseMethodContainer .body .btnCancel{
  margin: 0 auto;
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #20202050;
}
