.recoverWithPassphrasePageContainer {
  width: 100%;
  height: 100%;
  min-height: 592px;
  background-color: var(--white_col);
  background-image: url(../../images/bgInfo.svg);
  background-size: cover;
  background-position: center;
  font-family: var(--font_manrope);
}

.recoverWithPassphrasePageContainer .body {
  border-radius: 0 0 20px 20px;
  height: calc(100% - 80px);
  padding: 32px 60px 50px;
  max-width: 320px;
  margin: 0 auto;
}

.recoverWithPassphrasePageContainer .body .title {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: #202020;
  text-align: center;
}

.recoverWithPassphrasePageContainer .body .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 12px auto 0;
  max-width: 70%;
}

.recoverWithPassphrasePageContainer .body .form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.recoverWithPassphrasePageContainer .body .form .passphraseInput {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.recoverWithPassphrasePageContainer .body .form .passphraseInput::placeholder {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
}

.recoverWithPassphrasePageContainer .body .form .passphraseInput:focus {
  background: rgba(0, 0, 0, 0.05);
}

.recoverWithPassphrasePageContainer .body .form .errorMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  color: indianred;
  margin-bottom: -20px;
  font-size: 12px;
}

.recoverWithPassphrasePageContainer .body .importAccountButton {
  min-width: 166px;
  height: 48px;
  text-align: center;
  margin: 40px auto 0;
  padding: 15px 24px;
  border-radius: 88px;
  background: #202020;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white_col);
  cursor: pointer;
}

.recoverWithPassphrasePageContainer .body .importAccountButton:hover {
  opacity: 0.8;
}

.recoverWithPassphrasePageContainer .body .importAccountButton:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}

.recoverWithPassphrasePageContainer .body .cancel {
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  margin: 12px auto 0;
  opacity: 0.5;
}

.recoverWithPassphrasePageContainer .body .cancel:hover {
  opacity: 0.8;
}
