.transactionPageContainer{
  width: 100%;
  height: 100%;
  min-height: 491px;
  background-color: #fff;
}
.transactionPageContainer .body {
  background-image: url(../../images/bgInfo.svg);
  background-position: center;
  text-align: center;
  padding-top: 32px;
  background-size: cover;
  height: calc(100% - 90px);
  border-radius: 0 0 20px 20px;
}
.transactionPageContainer .body .icon{
  margin: 0 auto 23px;
}
.transactionPageContainer .body .title{
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 110%; 
  color: #202020;
  margin-bottom: 32px;
}
.transactionPageContainer .body .secondaryTitle {
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  color: #202020;
  margin-bottom: 4px;
}
.transactionPageContainer .body .near{
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  color: #202020;
  margin-bottom: 44px;
}
.transactionPageContainer .body .recipient{
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 110%;
  color: #9896F0;
  margin: 0 auto 40px;
}
.transactionPageContainer .body .recipient:hover{
  opacity: 0.8;
}

.transactionPageContainer .body .recipient a {
  text-decoration: none;
  color: inherit;
}

.transactionPageContainer .body .btnContinue{
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0 24px;
  height: 48px;
  width: 121px;
  background: #202020;
  border-radius: 88px;
  margin: 0 auto;
  cursor: pointer;
}

.transactionPageContainer .body .btnContinue:hover{
  opacity: 0.8;
}