.createWithSecurePassphrasePageContainer {
  width: 100%;
  height: 100vh;
  min-height: 592px;
  background-color: var(--white_col);
  background-image: url(../../images/bgInfo.svg);
  background-size: cover;
  background-position: center;
  font-family: var(--font_manrope);
}

.createWithSecurePassphrasePageContainer .body {
  border-radius: 0 0 20px 20px;
  height: calc(100% - 80px);
  padding: 32px 60px 50px;
  max-width: 320px;
  margin: 0 auto;
}

.createWithSecurePassphrasePageContainer .body .title {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  color: #202020;
  text-align: center;
}

.createWithSecurePassphrasePageContainer .body .buttonsContainer {
  display: flex;
  gap: 10px;
}

.createWithSecurePassphrasePageContainer .body .seedPhraseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.createWithSecurePassphrasePageContainer .body .seedPhraseContainer .word {
  min-width: 25%;
  padding: 10px;
  background: rgb(214, 237, 255);
  font-size: 12px;
  border-radius: 10px;
  color: rgb(0, 84, 151);
}

.createWithSecurePassphrasePageContainer .body .seedPhraseContainer .word .wordIndex {
  color: rgb(43, 154, 244);
}

.createWithSecurePassphrasePageContainer .body .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 12px auto 0;
  max-width: 70%;
}

.createWithSecurePassphrasePageContainer .body .form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.createWithSecurePassphrasePageContainer .body .form .accountIdInputWrapper {
  position: relative;
  overflow: hidden;
}

.createWithSecurePassphrasePageContainer .body .form .accountIdInputWrapper .accountIdInput {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.createWithSecurePassphrasePageContainer .body .form .accountIdInputWrapper .accountIdInput::placeholder {
    font-size: 16px;
    line-height: 22px;
    opacity: 0.6;
}

.createWithSecurePassphrasePageContainer .body .form .accountIdInputWrapper .accountIdInput:focus {
    background: rgba(0, 0, 0, 0.05);
}

.createWithSecurePassphrasePageContainer .body .form .accountIdInputWrapper .accountIdInputSuffix {
  position: absolute;
  color: rgb(166, 166, 166);
  font-size: 16px;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
}

.createWithSecurePassphrasePageContainer .body .form .accountIdInputWrapper .accountIdInputSuffixHidden {
  visibility: hidden;
}

.createWithSecurePassphrasePageContainer .body .form .errorMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  color: indianred;
  margin-bottom: -20px;
  font-size: 12px;
}

.createWithSecurePassphrasePageContainer .body .createAccountButton {
  height: 48px;
  min-width: 166px;
  text-align: center;
  margin: 40px auto 0;
  padding: 15px 24px;
  border-radius: 88px;
  background: #202020;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white_col);
  cursor: pointer;
}

.createWithSecurePassphrasePageContainer .body .createAccountButton:hover {
  opacity: 0.8;
}

.createWithSecurePassphrasePageContainer .body .createAccountButton:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}

.createWithSecurePassphrasePageContainer .body .buttonsContainer .nextStepButton {
  min-width: 120px;
}

.createWithSecurePassphrasePageContainer .body .buttonsContainer .copyButton {
  min-width: 120px;
}

.createWithSecurePassphrasePageContainer .body .cancel {
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  margin: 12px auto 0;
  opacity: 0.5;
}

.createWithSecurePassphrasePageContainer .body .cancelFirstStep {
  margin-top: 20px;
}

.createWithSecurePassphrasePageContainer .body .cancel:hover {
  opacity: 0.8;
}
