.balancePageContainer{
  width: 100%;
  height: 100vh;
  background-color: var(--white_col);
}
.balancePageContainer .body {
  background-image: url(../../images/bgInfo.svg);
  background-size: cover;
  background-position: center;
  padding-top: 32px;
}
.balancePageContainer .body .btnBalance,
.balancePageContainer .body .btnBalanceSecondary {
  width: 320px;
  height: 50px;
  margin: 0 auto;
  background: #F2F2FF;
  backdrop-filter: blur(12px);
  padding: 0 20px;
  border-radius: 8px;
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #20202040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.balancePageContainer .body .btnBalance{
  margin-bottom: 8px;
}
.balancePageContainer .body .btnBalanceSecondary {
  margin-bottom: 40px;
}
.balancePageContainer .body .btnBalance:hover {
  opacity: 0.8;
}
.balancePageContainer .body .btnBalanceSecondary:hover {
  opacity: 0.8;
}
.balancePageContainer .body .name{
  display: flex;
  align-items: center;
}
.balancePageContainer .body .arrow {
  margin-left: 8px;
}
.balancePageContainer .body .valueContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.balancePageContainer .body .balanceMenu .valueContainer,
.balancePageContainer .body .balanceMenu .dropdownStake {
  justify-content: right;
}
.balancePageContainer .body .valueContainer .value {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #202020;
}
.balancePageContainer .body .btnSend{
  width: 320px;
  height: 48px;
  background: #202020;
  border-radius: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
.balancePageContainer .body .btnSend:hover {
  opacity: 0.8;
}
.balancePageContainer .body .btnSend.visible{
  margin-top: 98px;
}
.balancePageContainer .body .btnBalanceSecondary.visible {
  margin-top: 70px;
}
.balancePageContainer .body .btnSend > div {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color:  var(--white_col);
  margin-left: 6px;
}
.balancePageContainer .balanceMenu{
  z-index: 2;
}
.balancePageContainer .dropdownStake,
.balancePageContainer .balanceMenu{
  width: 280px;
  background: #F2F2FF;
  margin: 0 auto;
  border-radius: 8px;
  padding: 17px 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.balancePageContainer .dropdownStake .btn,
.balancePageContainer .balanceMenu .btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}
.balancePageContainer .dropdownStake .arrow,
.balancePageContainer .balanceMenu .arrow {
  rotate: 180deg;
}
.balancePageContainer .dropdownStake .name ,
.balancePageContainer .balanceMenu .name{
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #20202040;
}
.balancePageContainer .dropdownStake  .value,
.balancePageContainer .balanceMenu .value {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #202020;
}
.balancePageContainer .dropdownStake  .valueBalance,
.balancePageContainer .balanceMenu .valueBalance {
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #20202040;
}

.footerLoadingContainer {
  max-width: 200px;
  margin: 0 auto;
}