.headerWrapper {
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 11;
  margin: 0 auto;
}
footer {
  max-width: 440px;
}
.btnConteiner {
  max-width: 440px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 40px;
  max-width: 440px;
  margin: 0 auto;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  justify-content: right;

}
.header .backBtn{
  cursor: pointer;
  padding-right: 0;
  margin-right: 14px;
}
.header .item{
  display: flex;
  align-items: center;
}
.header .titleContainer{
  margin-right: auto;
}
.header .walletContainer {
  margin-left: 0;
  margin-right: 35px;
}
.header .title{
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: inline-block;
}
.header .dropdownBtn{
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #20202040;
  min-height: 24px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
.header .dropdownBtn .arrowIcon {
  rotate: -90deg;
  margin-left: 8px;
  display: inline-block;
}
.header .dropdownBtn .arrowIcon > path,
.header .lockIcon > path,
.header .settingIcon > path  {
  stroke: #20202040;
}
.header .lockIcon {
  margin-right: 12px;
}
.header .dropdownBtn .nearIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.header .dropdownBtn .currentAccountIcon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 4px;
  background: white;
}
.header .item .nearIconTitle{ 
  width: 20px; 
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}
.header .item > button {
  cursor: pointer;
}

.header .walletsContainer {
 width: 161px;
 position: absolute;
 left: 0;
 top: 0;
 background: rgba(0, 0, 0, 0.2);
 backdrop-filter: blur(12px);
 border-radius: 0 0 20px 20px;
 padding: 12px 16px;
 z-index: 3;
}
.header .walletContainer .dropdownBtn {
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #202020;
}
.header .interationBtn {
  width: 100%;
  padding-left: 20px;
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #202020;
  margin-bottom: 7px;
  cursor: pointer;
}
.header .interationBtn>div {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header .interationBtn:hover {
  opacity: 0.6;
}
.header .curentWallet {
  margin-bottom: 24px;
}
.header .curentWallet > button > div {
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #202020;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header .walletsContainer .nearIcon {
  background-color: #fff;
}
.header .walletsContainer .btnAddAccount {
  width: 129px;
  height: 32px;
  background: #202020;
  border-radius: 88px;
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 24px auto 0;

  cursor: pointer;
}
.header .walletsContainer .btnAddAccount:hover {
  opacity: 0.6;
}