.sendPageContainer{
  width: 100%;
  height: 100%;
  min-height: 465px;
  background-color: var(--white_col);
}

.sendPageContainer form {
  max-width: 320px;
  margin: 0 auto;
}
.sendPageContainer .body {
  background-image: url(../../images/bgInfo.svg);
  background-size: cover;
  background-position: center;
  padding: 32px 60px 0 60px;
  text-align: center;
  min-height: 425px;
  border-radius:0 0 20px 20px;
  height: calc(100% - 80px);
}
.sendPageContainer .body .loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}
.sendPageContainer .body .title {
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  color: var(--black_color_secondary);
  margin-bottom: 20px;
}
.sendPageContainer .body .btnSubmit {
  background: var(--black_color_secondary);
  border-radius: 88px;
  width: 105px;
  height: 48px;
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white_col);
  display: block;
  margin: 0 auto 12px auto;
  cursor: pointer;
}
.sendPageContainer .body .btnSubmit:hover {
  opacity: 0.8;
}

.sendPageContainer .body .btnSubmit:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}
.sendPageContainer .body .dropDownContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}
.sendPageContainer .body .btn {
  width: 210px;
  height: 48px;
  background: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 8px;
  text-align: left;
  padding-left: 16px;
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  color: #20202060;
  text-decoration: unset;
  margin-left: 8px;
}
.sendPageContainer .body .btn.bg {
  background: rgba(0, 0, 0, 0.2);
}
.sendPageContainer .body .menu {
  position: relative;
  bottom: 0;
  display: none;
}

.react-select-container {
  width: 100% !important;
  font-family: var(--font_regular);
  font-size: 12px;
  color: #20202060;
  z-index: 10;
  border-radius: 8px;
}

.react-select__control {
  display: flex;
  border: none;
  background-color: unset;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.react-select__indicator-separator {
  display: none;
}
.react-select__value-container {
  padding-left: 16px !important;
}
.react-select__placeholder, .react-select__single-value {
  text-align: left;
}
.react-select__single-value  {
  font-weight: 600;
}

.react-select__menu {
  border: none !important;
  margin-top: 0 !important;
  background-color: rgba(0, 0, 0, 0.2) !important; 
  backdrop-filter: blur(6px);
  box-shadow: none !important;
  padding: 16px;
  border-radius: 8px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  position: absolute;
  z-index: 10;
  width: 100%;
}
.react-select__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none
}
.react-select__option {
  cursor: pointer;
  text-align: left;
  color: black;
  font-size: inherit;
  font-weight: 600;
  line-height: 16px;

}
.react-select__option .container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.react-select__option .container:hover {
  opacity: 0.8;
}

.react-select__option .container .token, .react-select__value-container .container .token {
  display: flex;
  gap: 4px;
  align-items: center;
}
.react-select__option .container .token, .react-select__value-container .container .token .tokenName {
  overflow: hidden;
  text-overflow: ellipsis;
}
.react-select__option .container .amount{
  text-align: right;
  white-space: nowrap;
}
.react-select__value-container .container .amount {
  display: none;
}
.react-select__input-container input {
  caret-color: transparent;
}

.react-select__option .container .token span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80px;
}

.react-select__option img, .react-select__value-container img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.sendPageContainer .dropDownContainer .primary {
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #20202060;
}

.sendPageContainer .body .dropDownContainer .balanceBox{
  background: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(6px);
  border-radius: 8px;
  text-align: center;
  position: relative;
  padding: 6px 10px 0;
  height: 41px;
  min-width: 92px;
}
.sendPageContainer .body .dropDownContainer .balanceBox .title {
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 0;
  color: var(--black_color_secondary_opacity);
}
.sendPageContainer .body .dropDownContainer .balanceBox .value {
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black_color_secondary);
  overflow: hidden;
  text-overflow: ellipsis;
}
.sendPageContainer .body .amountContainer { 
  width: 100%;
  height: 48px;
  position: relative;
  background: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(6px);
  margin-bottom: 8px;
  border-radius: 8px;
}
.sendPageContainer .body .amountContainer .amount {
  width: 100%;
  height: 48px;
  background: transparent;
  border: unset;
  padding: 0 0 0 16px;
  border-radius: inherit;
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
}
.sendPageContainer .body .amountContainer .amount:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.sendPageContainer .body .amountContainer .usdValue {
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #202020;
  opacity: 0.4;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 88px;
  user-select: none;
}
.sendPageContainer .body .amountContainer .amount::placeholder{
  color: black !important;
  opacity: 0.6;
}
.sendPageContainer .body .amountContainer .amount:focus-visible{
  border: unset;
  outline: none;
}
.sendPageContainer .body .amountContainer .btnMax {
  background: #9896F0;
  border-radius: 6px;
  width: 80px;
  height: 44px;
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white_col);
  cursor: pointer;
  text-decoration: unset;
}
.sendPageContainer .to {
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.08);
  border: unset;
  padding: 0 0 0 16px;
  border-radius: 8px;
}
.sendPageContainer .toContainer {
  width: 100%;
  height: 48px;
  position: relative;
  background: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(6px);
  border-radius: 8px;
  margin-bottom: 40px;
}
.sendPageContainer .toContainer input {
  font-size: 16px;
  line-height: 22px;
  background: transparent;
}
.sendPageContainer .toContainer input:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.sendPageContainer .toContainer .successIcon{
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0, -50%);
}
.sendPageContainer .btnCancel{
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #20202050;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.sendPageContainer .btnCancel:hover {
  opacity: 0.8;
}
.sendPageContainer .btnCancel:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}
.sendPageContainer .visibleAmount {
  position: absolute;
  top: 3px;
  left: 16px;
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--black_color_secondary_opacity);
  user-select: none;
}
.sendPageContainer .dropDownContainer .iconMenu > svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.sendPageContainer .dropDownContainer .iconMenu {
  display: flex;
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #202020
}
.sendPageContainer .dropDownContainer .iconMenu .icon{
  display: block;
  margin-right: 4px;
}
.sendPageContainer .dropDownContainer .iconMenu .value {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #202020;
}
.sendPageContainer  .dropDownContainer .assets {
  font-family: var(--font_semi_bold);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #202020;
  display: flex;
  align-items: center;
}
.sendPageContainer .dropDownContainer .icon {
  margin-right: 4px;
}
.sendPageContainer .body .fieldError {
  background: #FFCCCC;
}