.footerInfo .text {
    font-family: var(--font_semi_bold);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #20202040;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 32px;
  } 
.btn{
    font-family: var(--font_bold);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: var(--black_color_secondary);
    margin: 0 auto;
    cursor: pointer;
  }