.unlockWalletPageContainer {
  width: 100%;
  height: 100%;
}

.unlockWalletPageContainer .body {
  background-image: url(../../images/bgInfo.svg);
  background-size: cover;
  background-position: center;
  padding: 32px 60px 0 60px;
  height: 100%;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.unlockWalletPageContainer .body>.title {
  font-family: var(--font_extra_bold);
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  color: #202020;
}

.unlockWalletPageContainer .secondaryTitle {
  font-family: var(--font_regular);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #202020;
  margin-top: 12px;
}

.unlockWalletPageContainer .body .icon {
  width: 68px;
  height: 68px;
  margin: 60px auto 0 auto;
  background-image: url(../../images/unlockIcon.png);
  background-position: center;
  background-size: contain;
}

.unlockWalletPageContainer .body .connect {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background: #202020;
  border-radius: 88px;
  width: 175px;
  height: 48px;
  margin: 60px auto 0 auto;
  cursor: pointer;
}

.unlockWalletPageContainer .body .cancel {
  font-family: var(--font_bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #20202050;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 12px;
}

.ledger-dropdown-content {
  width: fit-content;
  margin: 30px auto;
  text-align: left;
}

.error-wrapper {
  color: red
}

.ledger-dropdown-content .desc {
  margin-top: 10px;
  font-weight: 500;
}


.path-wrapper {
  display: flex;
  align-items: center;
  margin: 30px 0 10px 0;
}

.path-wrapper>span {
  color: #e0e0e0;
  font-weight: 600;
  margin: 0 10px;
}

.default-paths {
  background-color: #F0F0F1;
  padding: 12.5px 14px;
  border-radius: 4px;
  font-weight: 600;
  color: #909090;
}

.custom-path {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #F0F0F1;
  background: white;
  padding: 3px 3px 3px 12px;
  border-radius: 4px;
  min-width: 55px;
  font-weight: 600;
}

.custom-path .buttons-wrapper {
  margin-left: 10px;
}

.custom-path .arrow-btn {
  border: 1px solid #F0F0F1;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn.increment {
  transform: rotate(90deg);
}

.arrow-btn.decrement {
  transform: rotate(-90deg);
}